.full-page-font {
  font-family: "Open Sans", sans-serif;
}

.container {
  align-content: center;
  justify-content: center;
  max-width: 1900px;
}

/* header */

.logo-navbar-search {
  display: flex;
  height: 70px;
  justify-content: space-between;
  background: rgba(49, 49, 49, 1);
}

.logo-container {
  display: flex;
}

.logo-img-container {
  width: 81px;
  height: 70px;
}

.logo-img {
  display: flex;
  margin: 21px auto;
  width: 27px;
  height: 27px;
}

.logo-text {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  color: rgba(255, 255, 255, 1);
}

.navbar {
  display: flex;
  align-items: center;
  width: 700px;
  justify-content: space-around;
}

.navbar-items {
  font-size: 15px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

.navbar-link:hover {
  color: rgba(20, 185, 213, 1);
}

a {
  text-decoration: none;
}

.navbar-link {
  color: rgba(255, 255, 255, 1);
}

.search-img-container {
  background-color: rgba(0, 0, 0, 1);
  height: 70px;
  width: 68px;
}

.search-img {
  display: flex;
  margin: 27px auto;
  height: 17px;
  width: 17px;
  cursor: pointer;
}

/* section "hero"*/

.hero {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 369px;
  background-image: url(https://gitlab.com/dan-it/groups/pe36/-/raw/master/programming-essentials/basic-html-css/homework/homework4-Design-and-architecture/img/header-bg.jpeg);
  background-size: 100%;
  background-position: 25% 65%;
}

.title-news {
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

.buttons {
  display: flex;
  margin-top: 40px;
}

.btn {
  text-align: center;
  border: 0;
}

.green-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 170px;
  height: 55px;
  border-radius: 4px;
  color: white;
  background-color: #89ca62;
  border: 0;
  font-size: 18px;
  line-height: 25px;
}

.blue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 55px;
  border-radius: 4px;
  color: white;
  background-color: #14b9d5;
  border: 0;
  font-size: 18px;
  line-height: 25px;
}

/*section "most-popular-posts"*/

.most-popular-posts-container {
  display: flex;
  flex-direction: column;
  height: 1030px;
  background: #f2f2f2;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 49px;
  margin-bottom: 52px;
  font-size: 27px;
  font-weight: bold;
  line-height: 37px;
  text-transform: uppercase;
  color: rgba(24, 180, 207, 1);
}

.most-popular-posts {
  display: flex;
  justify-content: center;
  align-content: center;
}

.hotels-variants {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-left: 15px;
}

.hotels-photo {
  margin-bottom: 90px;
  font-size: 18px;
  line-height: 24.5px;
  text-align: center;
  background-color: #fff;
  margin-bottom: 30px;
}

.photo-subscribe {
  padding: 20px 0 22px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 24.5px;
}

/*section "popular-clients"*/

.popular-clients {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: 588px;
  background-image: url(https://gitlab.com/dan-it/groups/pe36/-/raw/master/programming-essentials/basic-html-css/homework/homework4-Design-and-architecture/img/parallax-bg.jpeg);
  background-size: 100%;
  background-position: 25% 65%;
}

.title-text {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.line {
  display: flex;
  height: 3px;
  width: 60px;
  background-color: rgba(24, 180, 207, 1);
}

.logos-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}

/*section top-rated"*/

.top-rated-img {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.rates-img-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 1fr);
}

/*section "hot-news"*/

.hotnews-section {
  width: 1902px;
  height: 1683px;
  background-color: #fff;
  justify-content: center;
}

.folder {
  justify-content: center;
  background: #f9f7f7;
}

.title-post {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.post-text {
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  margin: 20px 3px 10px;
}

.hot-news-container {
  display: grid;
  grid-gap: 30px 35px;
  grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
  margin-left: 20%;
  margin-right: 20%;
}

.item1 {
  display: flex;
  grid-area: item1;
  float: right;
}

.item2 {
  text-align: center;
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  text-align: center;
  grid-area: item7;
}

.item8 {
  display: flex;
  grid-area: item8;
}

/*footer*/

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: #000000;
}

.all-rights {
  align-items: center;
  font-size: 13px;
  line-height: 13px;
  color: #fff;
}

.footer-logo-img {
  width: 38px;
  height: 24px;
}

.footer-logo-text {
  width: 64px;
  height: 16px;
}
